<div id={@id}>
    <%= live_patch to: Routes.admin_product_path(@socket, :index,
    sort_by: @sort_by,
    sort_order: @sort_order,
    name: @name), class: "flex", "data-role": "sort", "data-id": @sort_by do %>
    <span class="pr-2">
        <%= humanize(@sort_by) %>
    </span>
    <%= render FoodOrderWeb.IconView, @icon, %{color: @color} %>
    <% end %>
</div>
