<div id={@id} class="py-16 container mx-auto text-center">
    <h1 class="text-3xl font-bold mb-2">You Cart is Empty!!!</h1>
    <p class="text-gray-500 text-lg mb-12">
        You probably haven`t ordered a food yet. <br />
        To order an good, go to the main page.
    </p>
    <img src={Routes.static_path(@socket, "/images/empty-cart.svg")} class="w-2/5 mx-auto">
    <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
</div>
