<div class="flex flex-col items-center my-12">
    <form phx-change="update-select-perpage" id="per-page" phx-target={@myself}>
        <select name="per-page-select" id="select-per-page">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </form>
</div>
