<section class="py-16" id="cart-session" phx-hook="CartSession">
    <%# <.live_component module={EmptyCart} id="empty-cart" /> %>
    <.live_component module={CartDetail} id="cart-detail" />
</section>
